
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
    <h1>Pig Latinizer</h1>
    <h2><%=@pigified%></h2>
  </head>
  <body>
  
  </body>
</html>

        <!-- <label for="name">Team Name</label>
        <input type="text" name="name" value=""> -->
