<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="POST">
    <label for="sentence">Enter your phrase:</label>
    <input type="text" name="user_phrase" value="">
    <input type="submit" name="Submit">
    </form>
  </head>
  <body>
  
  </body>
</html>

        <!-- <label for="name">Team Name</label>
        <input type="text" name="name" value=""> -->
